<div class="card">
  <div class="card-header">
    <%= link_to "@#{tweet.user.username}", user_path(tweet.user)  %>
  </div>

  <div class="card-body">
    <p class="card-text"><%= tweet.content  %></p>
  </div>
</div>
